body {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #eee;
    argin-bottom: 60px;
}

.bg-light {
    background-color: #eee!important;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}
