<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace ="fragments/header::head"></head>

<body class="d-flex flex-column min-vh-100">

<div th:replace ="fragments/header::head-navbar"></div>

<div class="container">
    <main role="main" class="pb-3">
        <div class="text-center">
            <h1 class="display-4">Информационно-справочная система АГУ для учета картриджей</h1>
        </div>
    </main>
</div>

<footer th:replace ="fragments/footer::foot-privacy"></footer>
<div th:replace ="fragments/footer::foot"></div>

</body>
</html>


