<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace ="fragments/header::head">
</head>
<link rel="stylesheet" type="text/css" href="/static/css/cartridges.css" th:href="@{/css/cartridges.css}" />
<body class="d-flex flex-column min-vh-100">

<div th:replace ="fragments/header::head-navbar"></div>


<div class="container-fluid">
    <h1 class="top-name center-block text-center">Кабинеты</h1>
    <div class="table-responsive">
        <table class="table table-bordered ">
            <thead>
                <tr class = "text-center">
                    <th>
                        Корпус
                    </th>
                    <th>
                        Кабинет
                    </th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="offices : ${officesData}">
                    <tr class = "text-center">
                        <td class="align-middle">
                            <p th:utext="${offices.getHousing().getName()}"></p>
                        </td>
                        <td class="align-middle">
                            <p th:utext="${offices.getName()}"></p>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
</div>

<footer th:replace ="fragments/footer::foot-privacy"></footer>
<div th:replace ="fragments/footer::foot"></div>

</body>
</html>