<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace ="fragments/header::head">
</head>
<link rel="stylesheet" type="text/css" href="/static/css/cartridges.css" th:href="@{/css/cartridges.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body class="d-flex flex-column min-vh-100">

<div th:replace ="fragments/header::head-navbar"></div>


<div class="container-fluid">
    <h1 class="top-name center-block text-center">Пользователи</h1>
    <div class="table">
        <table class="table table-bordered ">
            <thead>
            <tr class = "text-center">
                <th>
                    Никнейм
                </th>
                <th>
                    Роль
                </th>
            </tr>
            </thead>
            <tbody>
                <th:block th:each="person : ${personsData}">
                    <form method="POST" enctype="multipart/form-data" >
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <tr class = "text-center">
                            <td class="align-middle">
                                <div class="col my-auto">
                                    <p th:utext="${person.getUsername()}"></p>
                                </div>
                            </td>
                            <td class="align-middle">
                                <div class="row">
                                    <div class="col my-auto">
                                        <p th:utext="${person.getRole()}"></p>
                                    </div>
                                    <div class="col-sm-0">

                                        <button   type="button" class=" btn btn-primary float-right mr-2"  th:id="open_change + ${person.getId()}">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </div>
                                    <div class="col-sm-0">
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                        <input type="text" class="form-control" id="id_del" name="id_del" th:value="${person.getId()}" hidden>
                                        <button   type="submit" class=" btn btn-primary float-right mr-2" id="delete_btn" formaction="/deletePerson">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="row mt-2" th:id="open_change + ${person.getId()} + hidden-edit2" hidden>
                                    <div class="col"></div>
                                    <div class="col">
                                        <select class="role"  aria-label=".form-select-lg example" id="role_change" name="role_change">
                                            <option value="ROLE_ADMIN" label="ROLE_ADMIN"></option>
                                            <<option value="ROLE_USER" label="ROLE_USER"></option>
                                        </select>
                                    </div>
                                    <div class="col"></div>
                                    <div class="col-sm-0">
                                        <input type="text" class="form-control" id="id_change" name="id_change" th:value="${person.getId()}" hidden>
                                        <button type="submit" class=" btn btn-primary float-right mr-2" id="change_btn" formaction="/changePerson">Изменить</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </form>
                </th:block>
            </tbody>
        </table>
    </div>
</div>

<footer th:replace ="fragments/footer::foot-privacy"></footer>
<div th:replace ="fragments/footer::foot"></div>
<div th:replace ="fragments/script::script_hidden"></div>

</body>
</html>