<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace ="fragments/header::head">
    </head>
    <link rel="stylesheet" type="text/css" href="/static/css/cartridges.css" th:href="@{/css/cartridges.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <body class="d-flex flex-column min-vh-100">

        <div th:replace ="fragments/header::head-navbar"></div>

        <div class="container-fluid">
            <h1 class="top-name center-block text-center">Принтеры</h1>

            <div class="table">
                <table class="table table-bordered ">
                    <thead>
                        <tr class = "text-center">
                            <th>
                                Принтер
                            </th>
                            <th>
                                Картриджи
                            </th>
                            <th>
                                В отделе
                            </th>
                            <th>
                                На заправке
                            </th>
                            <th>
                                У пользователей
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="printer : ${printersData}">
                        <tr class = "text-center">
                            <td class="align-middle">
                                <div class="row">
                                    <div class="col my-auto">
                                        <p th:utext="${printer.getName()}"></p>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">
                                <div class="row">
                                    <div class="col my-auto">
                                        <p th:utext="${printer.getNormalTypes()}"></p>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">
                                <div class="row">
                                    <div class="col my-auto">
                                        <p th:utext="${printer.getStatusBase()}"></p>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">
                                <div class="row">
                                    <div class="col my-auto">
                                        <p th:utext="${printer.getStatusRefill()}"></p>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">
                                <div class="row">
                                    <div class="col my-auto">
                                        <p th:utext="${printer.getStatusUsers()}"></p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>

        <footer th:replace ="fragments/footer::foot-privacy"></footer>
        <div th:replace ="fragments/footer::foot"></div>

    </body>
</html>