<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace ="fragments/header::head"></head>
<link rel="stylesheet" type="text/css" href="/static/css/cartridges.css" th:href="@{/css/cartridges.css}" />
<body class="d-flex flex-column min-vh-100">

<div th:replace ="fragments/header::head-navbar"></div>
<div class="container">
    <h1>Отсканируйте QR код.</h1>
    <form method="POST" enctype="multipart/form-data" action="/uploadQrCode">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="form-group">
            <input type="file" class="form-control-file" id="qrCodeFile" name="qrCodeFile" capture="environment" accept="image/*">
        </div>
        <button   type="submit" class="btn btn-primary" id="download_btn" hidden>Загрузить</button>
    </form>
    <p class="text-danger" th:if="${errorMessage}" th:text="${errorMessage}"></p>

    <form method="POST" enctype="multipart/form-data" action="/changeCartridge">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="table-responsive"  th:if="${name}">
            <table class="table table-bordered ">
                <thead>
                <tr class = "text-center">
                    <th>
                        QR
                    </th>
                    <th>
                        Модель
                    </th>
                    <th>
                        Статус
                    </th>
                    <th id="hidden_house_tr" hidden>
                        Корпус
                    </th>
                    <th id="hidden_office_tr" hidden>
                        Отдел
                    </th>
                    <th>
                        Комментарий
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class = "text-center">
                    <td class="align-middle">
                        <p class="text" th:text="${name}"></p>
                        <input type="hidden" th:value="${name}" id="name_change" name="name_change"/>
                    </td>
                    <td class="align-middle">
                        <p class="text" th:text="${model}"></p>
                    </td>
                    <td class="align-middle">
                        <select class="align-middle"  aria-label=".form-select-lg example" id="status_change" name="status_change">
                            <option th:if="${#strings.contains(status, 'В отделе')}" value="В отделе" selected>В отделе</option>
                            <option th:unless="${#strings.contains(status, 'В отделе')}" value="В отделе" >В отделе</option>

                            <option th:if="${#strings.contains(status, 'На заправке')}" value="На заправке" selected>На заправке</option>
                            <option th:unless="${#strings.contains(status, 'На заправке')}" value="На заправке" >На заправке</option>

                            <option th:if="${#strings.contains(status, 'У пользователей')}" value="У пользователей" selected>У пользователей</option>
                            <option th:unless="${#strings.contains(status, 'У пользователей')}" value="У пользователей" >У пользователей</option>
                        </select>
                    </td>
                    <td class="align-middle" id="hidden_corp" hidden>
                        <select class="align-middle"  aria-label=".form-select-lg example" id="status_change_2" name="status_change_2">
                            <option th:if="${#strings.contains(status, 'В отделе')}" value="В отделе" selected>В отделе</option>
                            <option th:unless="${#strings.contains(status, 'В отделе')}" value="В отделе" >В отделе</option>

                            <option th:if="${#strings.contains(status, 'На заправке')}" value="На заправке" selected>На заправке</option>
                            <option th:unless="${#strings.contains(status, 'На заправке')}" value="На заправке" >На заправке</option>

                            <option th:if="${#strings.contains(status, 'У пользователей')}" value="У пользователей" selected>У пользователей</option>
                            <option th:unless="${#strings.contains(status, 'У пользователей')}" value="У пользователей" >У пользователей</option>
                        </select>
                    </td>
                    <td class="align-middle" id="hidden_office" hidden>
                        <select class="align-middle"  aria-label=".form-select-lg example" id="status_change_3" name="status_change_3">
                            <option th:if="${#strings.contains(status, 'В отделе')}" value="В отделе" selected>В отделе</option>
                            <option th:unless="${#strings.contains(status, 'В отделе')}" value="В отделе" >В отделе</option>

                            <option th:if="${#strings.contains(status, 'На заправке')}" value="На заправке" selected>На заправке</option>
                            <option th:unless="${#strings.contains(status, 'На заправке')}" value="На заправке" >На заправке</option>

                            <option th:if="${#strings.contains(status, 'У пользователей')}" value="У пользователей" selected>У пользователей</option>
                            <option th:unless="${#strings.contains(status, 'У пользователей')}" value="У пользователей" >У пользователей</option>
                        </select>
                    </td>
                    <td class="align-middle">
                        <input type="text" class="form-control" id="comment_change" name="comment_change" placeholder="Комментарий" th:value="${comment}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button   type="submit" class="btn btn-primary"  th:if="${name}">Изменить</button>
    </form>

    <form method="POST" enctype="multipart/form-data" action="/addCartridge">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="table-responsive"  th:if="${new_cartridge}">
            <table class="table table-bordered ">
                <thead>
                <tr class = "text-center">
                    <th>
                        QR
                    </th>
                    <th>
                        Модель
                    </th>
                    <th>
                        Статус
                    </th>
                    <th>
                        Комментарий
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class = "text-center">
                    <td class="align-middle">
                        <p class="text"  th:text="${qrContent}"></p>
                        <input hidden type="text" class="form-control" id="name" name="name" th:value="${qrContent}">
                    </td>
                    <td class="align-middle">
                        <select class="align-middle"  aria-label=".form-select-lg example" id="model" name="model">
                            <th:block th:each="typesCartridgesData : ${typesCartridgesData}">
                                <option th:value="${typesCartridgesData.getId()}" th:label="${typesCartridgesData.getName()}"></option>
                            </th:block>
                        </select>
                    </td>
                    <td class="align-middle">
                        <select class="align-middle"  aria-label=".form-select-lg example" id="status" name="status">
                            <option value="В отделе">В отделе</option>
                            <option value="На заправке">На заправке</option>
                            <option value="У пользователей">У пользователей</option>
                        </select>
                    </td>
                    <td class="align-middle">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="comment" name="comment" placeholder="Комментарий">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-primary" th:if="${new_cartridge}">Добавить в базу данных</button>
    </form>

</div>
<footer th:replace ="fragments/footer::foot-privacy"></footer>

<div th:replace ="fragments/footer::foot"></div>

<script>
    $('#status_change').on('change', function () {

        if (this.value == 'У пользователей'){
            $('#hidden_office').removeAttr('hidden');
            $('#hidden_office_tr').removeAttr('hidden');
            $('#hidden_house').removeAttr('hidden');
            $('#hidden_house_tr').removeAttr('hidden');
        }
        else{
            $('#hidden_office').attr("hidden",true);
            $('#hidden_office_tr').attr("hidden",true);
            $('#hidden_house').attr("hidden",true);
            $('#hidden_house_tr').attr("hidden",true);
        }
    });
</script>

<script>
    $(document).ready(function(){
        $("#qrCodeFile").change(function(){
            document.querySelector('#download_btn').click()
        });
    });
</script>

</body>
</html>